@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #083AA9;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  /* border: 2px solid black; */
}

.nav-title {
  font-size: 30px;
  font-family: 'Lobster', cursive;
  color: white;
  margin-left: 5rem;
}


.search {
  width: 40%;
  border-radius: 10px;
  border: none;
  padding: 15px;
  /* text-align: center; */
  margin-right: 10px;
  font-size: 10px;
}

.search:focus {
  outline: none;
}

.userSearch {
  width: 100%;
  display: flex;
  justify-content: flex-end;

}

.searchImg {
  width: 60vw;
  height: 80vh;
  margin-top: 10vh;
}

@media (max-width:768px) {

  .nav-title {
    margin: 0 0 0 0;
    font-size: 20px;
  }

  .search {
    width: 217px;
    height: 35px;
  }



  .img {
    height: 75px;
    width: 80px;
  }

  .searchImg {
    width: 95vw;
    height: 31vh;
  }
}

@media (min-width:768px)and (max-width:912px) {
  .navbar {
    height: 94px;
  }

  .nav-title {
    margin: 0 0 0 60px;
    font-size: 30px;
  }

  .img {
    height: 110px;
    width: 130px;
  }

  .search {
    margin-right: 30px;
    width: 330px;
    font-size: 15px;

  }

  .searchImg {
    width: 70vw;
    height: 35vh;
  }
}

@media (min-width:912px) and (max-width:2000px) {
  .navbar {
    height: 94px;
  }

  .nav-title {
    font-size: 36px;
  }

  .img {
    height: 110px;
    width: 190px;
  }

  .search {
    font-size: 20px;
    width: 460px;
    margin-right: 100px;
  }

  .searchImg {
    width: 55vw;
    height: 70vh;

  }
}

@media (min-width:2001px) {
  .navbar {
    height: 95px;
  }

  .img {
    height: 110px;
    width: 190px;
  }

  .search {
    font-size: 20px;
    width: 460px;
    margin-right: 100px;
  }

  .searchImg {
    width: 55vw;
    height: 70vh;

  }
}